<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Maps_IOS.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>E10A51AC1C6A9BAC006F2C58</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>E10A51C01C6A9BAC006F2C58</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>E10A51CB1C6A9BAC006F2C58</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
